.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.topToolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
}

.conditions {
  display: inline-flex;
  align-items: center;
}

.filter {
  margin: 5px 10px;
  padding: 5px;
  border-radius: 5px;
}

.chapter {
  display: flex;
  align-items: center;

  > :nth-child(1) {
    display: flex;
    align-items: center;
    width: 50px;
    height: 35px;
    flex: none;
  }

  > :nth-child(2) {
    display: flex;
    align-items: center;
    flex: auto;
  }
}

.typeFilterAndSearch {
  display: flex;
  align-items: center;
  height: 24px;
}

.typeFilter {
  display: inline-flex;
  align-items: center;
  height: 100%;

  > :nth-child(1) {
    flex: none;

    & ~ * {
      top: -3px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
}

.search {
  display: inline-flex;
  align-items: center;

  > :nth-child(2) {
    margin-left: 10px;
  }

  > :nth-child(3) {
    margin-left: 10px !important;
  }
}

.selectAll {
  position: absolute;
  right: 17px;
  bottom: 0px;
}
