.container {

}

.topToolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.conditions {
  display: inline-flex;
  align-items: center;
}

.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  :nth-child(1) {
    font: 12px;
    width: 50px;
    height: 35px;
    color: #9B9B9B;
    flex: none;
  }

  :nth-child(1) {
    display: flex;
    align-items: flex-start;
    flex: auto;
  }
}

.search {

}
