.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.topToolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.conditions {
  display: inline-flex;
  align-items: center;
}

.chapter {
  display: flex;
  align-items: center;

  > :nth-child(1) {
    display: flex;
    align-items: center;
    width: 50px;
    height: 35px;
    flex: none;
  }

  > :nth-child(2) {
    display: flex;
    align-items: center;
    flex: auto;
  }
}

.search {
  display: flex;
  align-items: center;

  > :nth-child(2) {
    margin-left: 10px;
  }

  > :nth-child(3) {
    margin-left: 10px !important;
  }
}

.selectAll {
  position: absolute;
  right: 30px;
  bottom: 0;
}
