.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.box {
  $width: 410px;
  $height: 410px;
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px - $height / 2;
  margin-left: 0px - $width / 2;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #776E65;
}

.chessMan {
  width: 100px;
  height: 100px;
  float: left;
  box-sizing: border-box;
  padding: 5px;
  background-color: #776E65;
}

.chessManText {
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 45px;
  font-family: Raleway, Verdana, sans-serif;
  font-weight: bold;
  background-color: #BBADA0;
}
