.container {
  background-color: #F2F2F2;
  padding-top: 16px;
}

.title {
  height: 20px;
  overflow: hidden;
  font-size: 0;
  padding-bottom: 24px;
}

.titleText {
  float: left;

  i {
    margin-left: 24px;
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    margin-bottom: -2px;
  }

  span {
    font-size: 14px;
    color: #333;
  }
}

.foldButton {
  float: right;
  display: inline-block;
  width: 16px;
  height: 16px;
  mask-size: 16px 16px;
  mask-image: url('images/expandLess.svg');
  transition: transform 0.5s ease;
  background-color: #4A4A4A;
  margin-right: 24px;

  button {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.foldButtonClose {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  transition: height 0.5s ease;

  &::after {
    content: '';
    width: 100%;
    height: 0;
    display: block;
  }
}

.floatLeft {
  float: left;
}

.contentItem {
  margin-left: 24px;
  margin-bottom: 24px;
}
