{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "react",
    "stage-0",
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": true,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime",
      "useESModules": true,
    }],
    "react-hot-loader/babel",
  ],
}