{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 1,
    "func-names": 0,
    "import/extensions": 0,
    "import/no-absolute-path": 0,
    "import/no-duplicates": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "jsx-quotes": 0,
    "linebreak-style": 0,
    "max-len": ["error", 120, 2],
    "no-plusplus": 0,
    "no-undef": 1,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "react/no-danger": 0,
    "react/prefer-stateless-function": 0,
    "react/require-default-props": 0,
    "semi": ["error", "never"],
    "spaced-comment": ["error", "always"]
  }
}
