{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": true,
    "color-hex-length": null,
    "color-hex-case": "upper",
    "shorthand-property-no-redundant-values": true,
    "unit-no-unknown": true,
  }
}
