.buttonWithoutBorderAndOutline {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.iconWithSvg {
  display: inline-block;
}

.container {
  width: calc(100% - 28px);
  height: 100%;
  margin: 0 14px;
}

.title {
  margin-bottom: 26px;
}

.thinkingTitle {
  font-size: 12px;
  color: #666;
}

.thinkingInput,
.addComment {
  width: 100%;
  height: auto !important;
  overflow: hidden;
  font-size: 0;
  margin-top: 12px;
  padding-bottom: 7px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);

  input {
    width: 100%;
    font-size: 16px;
    color: #333;
    outline: none;
    border: none;

    &::-moz-placeholder {
      color: rgba(0, 0, 0, 0.38);
    }

    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.38);
    }

    &::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

.thinkingText {
  font-size: 16px;
  color: #666;
  margin-top: 12px;
}

.commentList {
  margin-top: 24px;

  li {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: transparent center no-repeat;
  background-size: cover;
  flex: 0 0 auto;
  margin-right: 8px;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.topTitle {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.topTitle {
  justify-content: space-between;
  margin-bottom: -10px;

  &:hover {

    & > span {
      display: none;
    }

    & > div:last-child {
      display: flex;
    }
  }

  & > div:first-child {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    i {
      @extend .iconWithSvg;

      margin-left: 8px;
      width: 12px;
      height: 12px;
      mask-size: 12px 12px;
      mask-image: url('images/like.svg');
      background-color: #3B9E46;
    }

    span:first-child {
      font-size: 14px;
      color: #666;
    }

    span:last-child {
      font-size: 10px;
      color: #3B9E46;
    }
  }

  & > span {
    font-size: 10px;
    color: #333;
  }

  & > div:last-child {
    flex: 0 0 auto;
    display: none;
    align-items: center;
    font-size: 0;
    position: relative;

    & > div {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    button {
      @extend .buttonWithoutBorderAndOutline;

      padding-left: 4px;
    }

    i {
      @extend .iconWithSvg;

      width: 12px;
      height: 12px;
      mask-size: 12px 12px;
      background-color: #666;

      &:active {
        background-color: #3B9E46;
      }
    }

    button:nth-child(1) i {
      mask-image: url('images/likeOutline.svg');
    }

    button:nth-child(2) i {
      mask-image: url('images/vertical.svg');
    }
  }
}

.bottomTitle {
  flex: 1 1 auto;
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}

.commentInputListItem {
  margin-top: 30px;
  position: relative;
}

.attached {
  position: absolute;
  bottom: -25px;
  left: 0;
  display: inline-flex;
  align-items: center;

  button {
    @extend .buttonWithoutBorderAndOutline;

    width: 20px;
    height: 20px;
  }

  i {
    @extend .iconWithSvg;

    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
    background-color: #4A4A4A;
  }

  i:nth-child(2) {
    margin-left: 6px;
    mask-image: url('images/camera.svg');
  }

  button:nth-child(3) {
    margin-left: 26px;

    i {
      mask-image: url('images/link.svg');

      &:active {
        background-color: #3B9E46;
      }
    }
  }

  input {
    position: absolute;
    bottom: 1px;
    left: 6px;
    z-index: 100;
    width: 0;
    height: 20px;
    padding-left: 20px;
    overflow: hidden;
    outline: none;

    &:hover {
      cursor: pointer;
    }

    &:active {

      & + i {
        background-color: #3B9E46;
      }
    }
  }
}

.saveComment {
  @extend .buttonWithoutBorderAndOutline;

  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: 14px;
  color: #3B9E46;

  &:active {
    color: #666;
  }
}
