.container {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: #3B9E46;
  transition: right 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), bottom 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), border-radius 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19), justify 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19),;
  display: flex;

  .content {
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 0;

    i {
      display: inline-block;
      width: 24px;
      height: 24px;
      -webkit-mask-size: 24px 24px;
      -webkit-mask-image: url('../../images/search.svg');
      background-color: #FFF;
    }

    input {
      width: 0;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 18px;
      letter-spacing: 0.6px;
      color: #FFF;
      outline: none;
      transition: width 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
}
