<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React-demo</title>
  <link rel="shortcut icon" href="./build/images/f8caaf16322920da3e4a75d98a10f178.jpg" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/pace/1.0.2/themes/black/pace-theme-flash.min.css">
  <script type="text/javascript" src="https://cdn.staticfile.org/pace/1.0.2/pace.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="./build/js/loading.js"></script>
  <% for (var file in htmlWebpackPlugin.files.js) { %>
  <script type="text/javascript" src="./<%= htmlWebpackPlugin.files.js[file] %>"></script>
  <% } %>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>