.container {
  width: 100px;
  overflow: hidden;
}

.leftArea {
  float: left;
  margin-right: 10px;
  background-color: red;
}

.rightArea {
  display: table-cell;
  width: 9999px;
  background-color: blue;
}
