* {
  margin: 0;
  padding: 0;
}

/* 修改加载进度条颜色 */
body > :global(.pace) > * {

  &:nth-child(1) {
    background-color: #3B9E46;

    > div {
      box-shadow: 0 0 10px red, 0 0 5px red;
    }
  }

  &:nth-child(2) {
    border-top-color: #3B9E46;
    border-left-color: #3B9E46;
  }
}

/* 将页面高度撑满 */
html,
body,
body > :global(#app),
body > :global(#app) > div {
  height: 100%;
}
