.container {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #333;
}

.leftArea {
  position: absolute;
  top: 0;
  left: 16px;
  display: flex;
  align-items: center;
  height: 100%;

  > :first-child {
    top: -2px;
    color: #FFF !important;
  }

  .chat {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('images/chat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > :nth-child(2),
  > :nth-child(4) {
    font-size: 16px;
    padding-right: 4px;
    padding-left: 3px;
    color: #EEE;
  }

  > :nth-child(2) {
    padding-right: 16px;
  }
}

.centerArea {
  position: relative;
  z-index: 10;
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: calc(100% - 280px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #333;

  &::-webkit-scrollbar {
    display: none;
  }
}/* 小组很多的情况不知道怎么显示，目前暂时将没显示出来的小组隐藏掉 */

.groupButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  background-color: transparent;
}

.groupButton {
  overflow: hidden !important;
  width: 24px !important;
  min-width: 0 !important;
  height: 24px !important;
  margin-right: 8px !important;
  margin-left: 8px !important;
  border-radius: 3px !important;
}

.rightArea {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.setting,
.export {
  width: 25px;
  height: 100%;
}

.settingButton,
.exportButton {
  width: 35px !important;
  min-width: 0 !important;
  height: 100% !important;
  background-color: transparent !important;

  button div > span div {
    background-color: #FFF !important;
  }

  button div div span {
    font-size: 12px;
    white-space: nowrap;
    color: #FFF !important;

    &:last-child {
      top: 3px;
    }
  }
}

.exportButton span:first-child {
  top: 2px;
}/* 导出图标莫名其妙地比配置图标高一点，用这个样式来抵消一下 */

.export {
  margin-left: 16px;
}

.selectPanel {
  position: absolute;
  top: -165px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 165px;
  transition: all 0.5s ease;
  background-color: rgba(255, 36, 22, 0.1);
}

.selectPanelHeader {
  position: relative;
  width: 100%;
  padding-top: 16px;
}

.groupName {
  position: absolute;
  top: 14px;
  left: 17px;

  > * {
    vertical-align: middle;
  }

  > :nth-child(1) {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #FF0009;
  }/* 小组的默认颜色是红色 */

  > :nth-child(2) {
    font-size: 14px;
    color: #FFF;
  }
}

.selectPanelTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  > * {
    vertical-align: middle;
  }

  > :nth-child(1) {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-image: url('images/invertedTriangle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > :nth-child(2) {
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    color: #FFF;
    border: none;
    outline: none;
    background-color: transparent;

    &:active {
      color: #333;
    }
  }
}

.closeButton {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 17px;
}

.selectPanelBody {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-right: 5px;
  margin-left: 5px;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex: none;
  }
}

/* 下面是 StudentDiscussionAvatar 组件中用到的样式 */

.studentDiscussionAvatarContainer {
  width: 64px;
  height: 86px;
  margin-right: 16px;
  margin-left: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.studentDiscussionAvatarButton {
  width: 64px !important;
  min-width: 0 !important;
  height: 86px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.studentDiscussionAvatar {
  display: inline-block;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  margin-bottom: 6px;
  padding: 15px;
  border: solid 5px #FFF;
  border-radius: 50%;
  background-image: url('images/yeoman.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > span {
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0.8;
    color: #333;
    border-radius: 50%;
    background-color: #FFF;
  }

  & + * {
    font-size: 18px;
    color: #FFF;
  }
}

/* 下面是 DiscussionBottomToolBarTips 组件中用到的样式 */

.DiscussionBottomToolBarTipsContainer {
  position: relative;
  z-index: 1;
  top: -106px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 42px;
  transition: all 0.5s ease;
  background-color: transparent;
}

.DiscussionBottomToolBarTipsContent {
  display: inline-flex;
  align-items: center;
  height: 42px;
  border-radius: 19px;
  background-color: #FFF;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);

  > :nth-child(1) {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  }

  > :nth-child(2) {
    font-size: 14px;
    color: #333;
  }

  > :nth-child(3) > div {
    font-size: 0;
  }
}
