$width: 160px;
$height: $width;

.container {
  width: $width;
  height: $height;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.leftRect,
.rightRect {
  width: 50%;
  height: 100%;
  flex: 0 0 auto;
  overflow: hidden;
}

.leftArc,
.rightArc {
  width: 200%;
  height: 100%;
  border-radius: 50%;
  border: solid 10px rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.leftArc {
  float: left;
  border-top: solid 10px #4DB553;
  border-left: solid 10px #4DB553;
  transform: rotateZ(-45deg);
}

.rightArc {
  float: right;
  border-right: solid 10px #4DB553;
  border-bottom: solid 10px #4DB553;
  transform: rotateZ(-45deg);
}

.displayArea {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
