.container {
  width: 230px;
  height: 170px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  text-align: center;
  color: #FFF;
}

.limit {
  color: #FFF;
  font-size: 64px;
  font-family: Rubik, sans-serif;
  text-align: center;
}

.button {
  text-align: center;
}
