.content {
  width: 800px;
  height: calc(100% - 48px);
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  & > * {
    width: 50%;
    height: 100%;
    flex: 0 0 auto;
    border-right: solid 1px #EEE;
  }
}
