.content {
  width: 800px;
  height: calc(100% - 48px);
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.leftContent,
.rightContent {
  width: 50%;
  height: calc(100% - 14px);
  margin-top: 14px;
  flex: 0 0 auto;
}

.leftContent {
  border-right: solid 1px #EEE;
}
