.goBackButton,
.goLeftButton,
.goRightButton,
.editButton,
.cloneButton,
.copyButton,
.moveButton,
.deleteButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #FFF;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);

  &:active {
    color: #AAA;

    i {
      background-color: #AAA;
    }
  }

  i {
    display: inline-block;
    background-color: #FFF;
  }
}

.goBackButton {
  width: 24px;
  height: 24px;

  i {
    width: 24px;
    height: 24px;
    mask-image: url('images/cross.svg');
    mask-size: 24px 24px;
  }
}

.goLeftButton,
.goRightButton {
  width: 48px;
  height: 48px;

  i {
    width: 48px;
    height: 48px;
    mask-size: 48px 48px;
  }
}

.goLeftButton {

  i {
    mask-image: url('images/goLeft.svg');
  }
}

.goRightButton {

  i {
    mask-image: url('images/goRight.svg');
  }
}

.bottomToolBarContainer {
  overflow: hidden;
  width: 800px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4A4A4A;
}

.editButton,
.cloneButton,
.copyButton,
.moveButton,
.deleteButton {
  float: left;
  width: 24px;
  height: 36px;
  margin-top: 6px;
  margin-left: 25px;
  text-align: center;

  i {
    width: 21px;
    height: 21px;
    mask-size: 21px 21px;
  }

  span {
    font-size: 12px;
    position: relative;
    top: -4px;
  }
}

.deleteButton {
  float: right;
  margin-right: 25px;
}

.editButton i {
  mask-image: url('images/edit.svg');
}

.cloneButton i {
  mask-image: url('images/clone.svg');
}

.copyButton i {
  mask-image: url('images/copy.svg');
}

.moveButton i {
  mask-image: url('images/move.svg');
}

.deleteButton i {
  mask-image: url('images/delete.svg');
}
