.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}

.header,
.footer {
  position: relative;
  width: 100%;
  height: 52px;
  background-color: #FFF;
  box-shadow: -3px 2px 2px 0 rgba(119, 151, 178, 0.16);
  flex: 0 0 auto;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: -3px -2px 2px 0 rgba(119, 151, 178, 0.16);
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 16px;
  flex-grow: 1;
}

.title {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #333;
}

.searchInput {
  font-size: 16px;
  border: none;
  outline: none;
}

.libraryCell {
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

.LibraryCellContainer {
  display: flex;
  overflow: hidden;
  width: 359px;
  height: 64px;
  border-radius: 4px;
  background-color: #FFF;
}

.cover {
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex: 0 0 64px;
}

.LibraryCellContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 144px);
  margin-left: 16px;
  flex: 1 1 auto;
}

.name {
  font-size: 14px;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.libraryData {
  margin-top: 12px;

  span {
    font-size: 12px;
    margin-right: 16px;
    color: #888;
  }
}

.join {
  font-size: 14px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  color: #3B9E46;
  border: none;
  outline: none;
  background-color: #FFF;
  flex: 0 0 64px;
}

.hasJoin {
  cursor: initial;
  color: rgba(0, 0, 0, 0.26);
}

.search,
.question,
.quiz,
.courseware {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #777;
  mask-size: 10px 10px;
}

.search {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
  mask-image: url('images/search.svg');
  mask-size: 20px 20px;
}

.question {
  mask-image: url('images/choice.svg');
}

.quiz {
  mask-image: url('images/file.svg');
}

.courseware {
  mask-image: url('images/monitor.svg');
}

