.answerContentForShow {
  font-size: 0;
  position: relative;
  min-height: 40px;
}

.answerContentForShow > div {
  font-size: 14px;
  line-height: 23px;
  position: absolute;
  top: 10px;
  left: 14px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #000;
  border: solid 1px #B5BBBC;
  border-radius: 12px;
}

.answerContentForShow > span {
  font-size: 14px;
  position: relative;
  top: 15px;
  bottom: 0;
  left: 50px;
  display: inline-block;
  overflow-x: hidden;
  min-height: 40px;
  color: #333;

  p {
    margin: 0;
  }

  *:last-child:not(:first-child) {
    margin-bottom: 20px;
  }
}

.answerContent {
  font-size: 0;
  position: relative;
  display: block;
  min-height: 40px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.answerContent > img {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
}

.answerContent > span {
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  min-height: 40px;
  margin-left: 41px;
  color: #333;

  p {
    margin: 0;
    word-break: break-all;
  }
}

.rightAnswer {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin: 16px 12px 0;
  letter-spacing: normal;
  color: #262626;
}

.right {
  color: #3B9E46;
}

.wrong {
  color: #F4333C;
}
