.answerContentForShow {
  font-size: 0;
  position: relative;
  overflow: hidden;
  height: 40px;
}

.answerContentForShow div {
  font-size: 14px;
  line-height: 23px;
  position: absolute;
  top: 10px;
  left: 14px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #000;
  border: solid 1px #B5BBBC;
  border-radius: 12px;
}

.answerContentForShow span {
  font-size: 14px;
  line-height: 40px;
  position: relative;
  top: 3px;
  height: 40px;
  margin-left: 41px;
  color: #333;
}

.answerContent {
  font-size: 0;
  position: relative;
  display: block;
  overflow: hidden;
  height: 40px;
  outline: none;
}

.answerContent > img {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 20px;
  height: 20px;
}

.answerContent > span {
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  margin-left: 41px;
  color: #333;
}

.rightAnswer {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin: 16px 12px 0;
  letter-spacing: normal;
  color: #262626;
}

.right {
  color: #3B9E46;
}

.wrong {
  color: #F4333C;
}
