.container {
  overflow: auto;
  width: 100%;
  margin-top: 14px;
}

.subQuestionTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: rgba(187, 187, 187, 0.16);
}

.subQuestionTitle > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.subQuestionCircleOrder {
  font-size: 10px;
  line-height: 14px;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  text-align: center;
  color: #666;
  border: solid 1px #666;
  border-radius: 50%;
}

.subQuestionIntroduction {
  font-size: 14px;
  margin-left: 10px;
  color: #333;
}

.subQuestionPages {
  font-size: 16px;
  color: #333;
}

.subQuestionPages > span {
  flex-shrink: 0;
}

.subQuestionPrevBtn,
.subQuestionNextBtn {
  font-weight: bold;
  line-height: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.subQuestionPrevBtn:disabled,
.subQuestionNextBtn:disabled {
  cursor: not-allowed;
  color: #CCC;
}

.subQuestionPrevBtn:active,
.subQuestionNextBtn:active {
  background-color: #CCC;
}

.right {
  color: #3B9E46;
}

.wrong {
  color: #F4333C;
}

.none {
  color: #888888;
}

.markBtn {
  font-size: 18px;
  width: 335px;
  height: 47px;
  text-align: center;
  color: #FFF;
  border: solid 1px rgba(5, 5, 5, 0.08);
  border-radius: 5px;
  background-color: #1AAE18;
}

.labelUnmarked {
  font-family: PingFangSC;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  width: 335px;
  height: 25px;
  text-align: center;
  letter-spacing: normal;
  color: #FFFFFF;
}

label .text-style-1 {
  font-family: SFUIDisplay;
}

.rightAnswer {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin: 16px 12px 0;
  letter-spacing: normal;
  color: #262626;
}

.statistics {
  font-size: 14px;
  margin-right: 12px;
  margin-left: 12px;
  color: #262626;
}
