.title {
  height: 32px;
  padding-right: 8px;
  overflow: hidden;
}

.chapter {
  float: left;
  width: 32px;
  height: 32px;
  border-top-left-radius: 4px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.chapter img {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.type {
  float: left;
  margin-left: 12px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  color: #333;
}

.level {
  float: left;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #4A4A4A;
  margin-top: 8px;
  margin-left: 26px;
}

.answer {
  float: right;
  margin-top: 6px;
  margin-right: 11px;
  font-size: 14px;
  color: #3B9E46;
}

.contentBox {
  padding-bottom: 16px;
  margin: 0 8px;
  width: calc(100% - 16px);
  border-bottom: 1px dashed #eee;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #333;

  p {
    margin: 0;
    word-break: break-all;
  }
}

.content img {
  width: 100%;
}
